{% render 'partials/head.liquid' %}

    <article>

    <header>
      <h1>{{ person.name }}</h1>
    </header>
    
    <p>_VAN_0_NAAR_100_</p>
    <p>_FRONT-ENDER_</p>

     <div class="foto">
        <img src="/assets/mugshot za.png" alt="mugshot" height="180px" >
       <img src="/assets/vliegtuigza.png" alt="" height="100px">
       <img src="/assets/island.png" alt="" height="180px">
     </div>
      <div class="progress">
        <div class="progress-value"></div>
      </div>

          <dl class="visite-dl">
        <dt>_SPORTEN_</dt>
        <dd>✦✦✦</dd>
        
        <dt>_KLEDING_</dt>
        <dd>✦✦✦</dd>
        
        <dt>_REIZEN_</dt>
        <dd>✦✦✦✦</dd>
      </dl>

    </article>

{% render 'partials/foot.liquid' %}
