* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/*progress, progress-value en keyframes zijn voor de laadbalk*/
.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border: 1px solid rgb(99, 64, 11);
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 10px;
  width: 450px;
  margin-left: 25px;
}

.progress-value {
  animation: load 20s normal forwards;
  box-shadow: 0 10px 40px -10px #000000;
  border-radius: 100px;
  background: rgb(247, 236, 158, 0.492);
  height: 8px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 99%; }
}
/*-----------*/


body {
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(99, 64, 11);
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url('../assets/Bali.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

article {
  background-color: rgba(247, 236, 158, 0.492);
  width: 500px;
  height: auto;
  border: 3px solid rgb(99, 64, 11);
  border-radius: 2em;
  margin: auto;
}

header {
  margin-top: 10px;
  border-bottom: solid rgb(99, 64, 11);
}

.foto {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  margin-left: 5px;
}

.foto img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.visite-dl {
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-top: solid rgb(99, 64, 11);
  /* margin: 10px; */
  /* background: white; */

}

