* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

@font-face{
  font-family: roboto;
  src: url(/assets/RobotoMono-VariableFont_wght.ttf);
}

html{
  width: 200vw;
}

body{
  background-color: #d6d6d6;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@keyframes --rotate-self{
  from{
    transform: translateX(-50%) rotateY(0deg);
  }
  to{
    transform: translateX(-50%) rotateY(180deg);
  }
}

section{
  width: 370px;
  background-color: white;
  border-radius: 2rem;
  position: fixed;
  display: grid;
  grid-template-columns:300px 70px;
  grid-template-rows: auto auto;
  justify-items: center;
  left: 50%; /*50% vd viewport*/

  animation-name: --rotate-self;  /* https://youtu.be/aaEvUfC14e4?si=XX5uYA9281zmRpEi */
  animation-fill-mode: forwards;
  animation-timeline: scroll(inline);
  transform-origin: center;

  /* backface-visibility: hidden; */

  h1{
    background-color: #727A80;
    color: white;
    border-radius: 0 2rem 2rem 0;
    width: 70px;
    position: absolute;
    writing-mode:vertical-lr;
    align-content: center;
    right: 0;
    height: 100%;
    text-align: center;
    font-family: Arial;
  }

  img{
    align-self: center;

    &:hover{
      --x:100px;
      --y:100px;
      background: radial-gradient(at var(--x) var(--y), rgba(63, 63, 63, 0.33) 2%, white 10%);
    }
  }

  ul{
    width: 240px;
    grid-row: 2;
    padding-block: 1rem;

    li{
      font-family: roboto;
      display: flex;
      flex-direction: column;
      border-bottom: dashed black;
      font-size: 20px;
      font-weight: 200;

      label{
        font-size: 16px;
      }
    }
  }

  .back-photo{
    transform: translateZ(50px);
    background-color: white;
  }
}
