* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

@font-face{
  font-family: roboto;
  src: url(/assets/RobotoMono-VariableFont_wght.ttf);
}
body{
  background-color: #d6d6d6;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

section{
  width: 370px;
  background-color: white;
  border-radius: 2rem;
  position: relative;
  display: grid;
  grid-template-columns:300px 70px;
  grid-template-rows: auto auto;
  justify-items: center;

  h1{
    background-color: #727A80;
    color: white;
    border-radius: 0 2rem 2rem 0;
    width: 70px;
    position: absolute;
    writing-mode:vertical-lr;
    align-content: center;
    right: 0;
    height: 100%;
    text-align: center;
  }

  img{
    align-self: center;

    &:hover{
      --y:100px;
      --x:100px;
      background-color: radial-gradient(at var(--x) var(--y), yellow 5%, orangered 20%);
    }
  }

  ul{
    width: 240px;
    grid-row: 2;
    padding-block: 1rem;

    li{
      font-family: roboto;
      display: flex;
      flex-direction: column;
      border-bottom: dashed black;
      font-size: 20px;
      font-weight: 200;

      label{
        font-size: 16px;
      }
    }
  }
}
